PSM=capcut.ai_infra.federation
SERVICE_ID=Minimax-H3-AWS-RTX6000
REPORT_CATALOG_URL=https://ic-capcut-edit-gateway.capcut.com/ic/capcut/edit_gateway/v1/report_catalog
REPORT_CATALOG_AUTH=bernard-edit-bridge-internal-call
DEPLOYMENT_REPORT_URL=
REPORT_INTERVAL_SECONDS=5

API_KEY=
DEFAULT_NFE=8
OUTPUT_TTL_SECONDS=43200
CLEANUP_INTERVAL_SECONDS=60
REMOTE_MEDIA_HOST_ALLOWLIST=.byted.org
RELEASE_ID=h3-rtx6000pro-20260819-v1
DATA_ROOT=/srv/minimax-h3
API_BASE_PORT=30010
ADVERTISE_HOST=
INSTANCE_ID=

WORKER_IMAGE=minimax-h3-worker:20260819-v1
API_IMAGE=minimax-h3-api:20260819-v1
REPORTER_IMAGE=minimax-h3-reporter:20260819-v1

HF_TOKEN=
WARMUP_PARALLELISM=2
